html {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #eee!important;
}

/*ios input shadow*/
input,
textarea {
    border: 0;
    -webkit-appearance: none;
}