@charset "UTF-8";
/******************************
GENERAL STYLES
******************************/
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.browser_msg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  color: #FFF;
  z-index: 9999;
}
.browser_msg p {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.browser_msg a {
  margin-top: 30px;
  font-size: 15px;
}

.browser_not_supported .browser_msg {
  display: block;
}

button {
  background: transparent;
  outline: none;
  border: none;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-left: 0 !important;
  /* Avoid click jumping in firefox */
  padding-right: 0 !important;
  /* Avoid click jumping in firefox */
}

.backtoarticle {
  display: inline-block;
  border: 1px solid;
  padding: 10px 30px 11px;
  margin-bottom: 90px;
  -webkit-font-smoothing: antialiased;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-weight: 500;
}

:focus, a, .button, span {
  outline: none;
}

::-moz-focus-inner, span {
  border: 0;
}

/* Titles and Text */
/*h1 {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 36px;
  text-align: left;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}
*/
p {
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 70px;
  text-align: left;
}

/* Pager */
.designmodo-nav {
  position: relative;
  display: block;
  width: 80%;
  max-width: 420px;
  margin: 30px auto 80px;
}

.button {
  display: inline-block;
  line-height: 30px;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  margin-left: 4%;
  width: 21%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}
.button:hover, .button.active, .button:visited.active {
  color: white;
}
.button:first-of-type {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .button {
    width: 21.2%;
  }
}
/******************************
ICONS
******************************/
